name: Run Build and Unit Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  RunBuildAndUnitTests:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1
      
      - name: Install JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: 1.8
      
      - name: Run Android Linter
        run: ./gradlew lint --stacktrace
      
      - name: Run Unit Tests
        run: ./gradlew testDebugUnitTest --stacktrace
      
      - name: Assemble Debug APK
        run: ./gradlew assembleDebug --stacktrace
